.btn-header{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: #fff;
    background-color: #c5e5fc;
    color: rgb(26, 54, 96);
  }

.btn-header:hover{
    color: rgb(199, 206, 215);
    background-color: #155e93;
}