main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dizdeup2a/image/upload/v1677242441/main_react/nq8fupso6zqoz7s0t89f.jpg');
    background-size: cover; 
    height: 100vh;     
}



.cont_main{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a2c2cd92;
    width: 500px;
}

.cont_main p{
    font-size: 30px;
    color: rgb(0, 51, 77);
}